.dialog {
    display: none;
    position: absolute;
    border: 1px solid #D2DAE3;
    width: 400px;
    height: 200px;
    z-index: 100;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #FFF;
}

.dialog-title {
    width: 320px;
    height: 20px;
    margin: 0 auto;
    margin-top: 70px;
    font-size: 14px;
    color: #0A0A0A;
}

.dialog-btn {
    position: relative;
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 50px;
}

.dialog-btn label {
    display: inline-block;
    font-size: 14px;
    color: #FFF;
    background-color: #FE9901;
    radius: 3px;
    text-align: center;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.dialog-btn label:nth-child(1) {
    position: absolute;
    left: 0px;
}

.dialog-btn label:nth-child(2) {
    position: absolute;
    right: 0px;
}

.close {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 0px;
    cursor: pointer;
}
