@charset "utf-8";

input[type="password"] {
    text-indent: 5px;
    border-radius: 3px;
    border: 1px solid #D2DAE3;
    height: 21px;
}

.flash-message-div {
    background-color: #FE9901;
    color: #FFF;
    position: absolute;
    width: 180px;
    height: 30px;
    line-height: 30px;
    z-index: 101px;
    margin: auto;
    top: 80px;
    left: 0px;
    right: 0px;
    text-align: center;
    radius: 3px;
}

.whole {
    /* border: 1px solid; */
    width: 1280px;
    height: 650px;
    margin: 0 auto;
}

.header {
    overflow: hidden;
    background-color: #2E4358;
    position: relative;
    /* border: 1px solid; */
    height: 80px;
    width: 1280px;
}

.menu-tool {
    /* border: 1px solid; */
    width: 1280px;
    height: 40px;
}

.content-whole {
    /* border: 1px solid green; */
    height: 530px;
    background-color: #D2DAE3;
}

.content-wrap {
    /* border: 5px solid red; */
    overflow: hidden;
    margin: 0 auto;
    margin-top: 10px;
    height: 490px;
    background-color: #FFF;
    width: 1240px;
}

.whole-left {
    float: left;
    border-right: 1px solid #D2DAE3;
    height: 500px;
    width: 200px;
}

.content {
    margin-top: 0px;
    margin-left: 30px;
    float: left;
    /* border: 1px solid; */
    height: 550px;
    width: 980px;
}

.footer {
    /* border: 1px solid; */
    font-size: 12px;
    color: #0A0A0A;
    margin: 0 auto;
    margin-top: 20px;
    width: 300px;
    height: 10px;
    line-height: 10px;
}

.logo {
    position: absolute;
    left: 20px;
    margin: auto;
    top: 0; 
    bottom: 0;
    width: 240px;
    height: 40px;
    background-image: url(images/LOGO_Web_40x240.png);
}

.sys-title {
    float: left;
    /* border: 1px solid; */
    width: 300px;
    height: 40px;
    line-height: 40px;
    margin-left: 350px;
    font-size: 24px;
    color: #FFF;
    margin-top: 20px;
}

.head-right {
    position: relative;
    float:right;
    width: 400px;
    height: 50px;
    /* border: 1px solid; */
    font-size: 14px;
    color: #FFF;
    margin-top: 20px;
    margin-right: 20px;
    text-align: right;
}

.chinese {
    position: relative;
    font-family: 黑体;
    width: 30px;
    height: 14px;
}

.log-pro {
    position: relative;
    margin-top: 10px;
    height: 21px;
}

.pro-pic {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 140px;
}

.profile {
    margin-right: 30px;
    position: absolute;
    top: 0px;
    right: 50px;
}

.logout {
    margin-right: 0px;
    height: 14px;
}

ul {
    border-top: 1px solid #D2DAE3;
    border-bottom: 1px solid #D2DAE3;
    margin-left: 20px;
    overflow: hidden;
}

li {
    border-bottom: 1px solid #D2DAE3;
    cursor: pointer;
    list-style: none;
    /* border: 1px solid; */
    width: 200px;
    height: 40px;
    line-height: 40px;
    float: left;
    font-size: 18px;
    color: #2E4358;
}

li a {
    display: inline-block;
    margin: 0 auto;
    font-size: 18px;
    color: #2E4358;
}

.menu-tool li:hover {
    background-color: #D2DAE3;
}

.bottom {
    position: absolute;
    top: 386px;
    width: 977px;
}

.menu-left {
    margin-left: 10px;
    width: 180px;
    margin-top: 10px;
}

.bread-crumb {
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    height: 20px;
}

.left-top {
    margin: 0 auto;
    width: 130px;
    height: 200px;
}

.photo {
    margin-top: 20px;
    width: 130px;
    height: 110px;
}

.title-info {
    width: 130px;
    height: 50px;
}

.user-name, .user-id {
    width: 130px;
    height: 25px;
    line-height: 25px;
}

.right {
    /* border: 1px solid; */
    height: 488px;
    width: 1036px;
    float: left;
    overflow: hidden;
}

.info-title {
    float: left;
    width: 180px;
    height: 30px;
    line-height: 30px;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 18px;
}

.info-line {
    border-top: 3px solid #D2DAE3;
    float: left;
    width: 800px;
    height: 10px;
    margin-top: 35px;
}

.info-content {
    overflow: hidden;
    width: 1036px;
    height: 300px;
    margin-top: 120px;
    font-size: 18px;
}

.info-left {
    float: left;
    /* border: 1px solid; */
    width: 400px;
    height: 200px;
    font-size: 18px;
}

.info-left div {
    margin: 20px;
    /* border: 1px solid; */
    text-align: right;
}

.info-right {
    float: left;
    /* border: 1px solid; */
    width: 500px;
    height: 200px;
    font-size: 18px;
}

.info-right div {
    margin: 20px;
    /* border: 1px solid; */
    text-align: left;
}

.bottom-btn {
    width: 390px;
    height: 50px;
    margin-left: 230px;
    margin-top: 190px;
}

.cancel, .submit{
    float: left;
    border: 1px solid;
    width: 150px;
    height: 30px;
    line-height: 30px;
    color: #FFF;
    background-color: #FE9901;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

 .submit {
    margin-left: 40px;
}

.error-message {
    color: red;
    display: none;
}

.basic-info a {
    color: #FFF;
}

.pass-change {
    background-color: #2E4358;
}

.pass-change a {
    color: #FFF;
}

.left-con, .right-con  {
    color: #0A0A0A;
    font-size: 14px;
}

.star {
    color: #FE9901;
    font-size: 20px;
}