@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

/* article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
    display: block;
} */

body {
    font: 12px/1.55em arial , helvetica, sans-serif;
    text-align: center;
    background-color: #FFFFFF;
}

ul ol li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #FFF;
}

img {
    cursor: pointer;
}
